<section class="home">
	<h1 class="home__title t--title">Аренда строительной техники</h1>
	<h2 class="t--subtitle">
		Опыт наших операторов позволяет не только сэкономить ваши деньги, но и получить качество работ исключительно на высшем уровне.
	</h2>
	<p class="t--note">
		От правильности выполнения работ в дальнейшем будут зависеть многие технологические и производственные процессы строительства.
	</p>

	<!-- <tabset class="tab-container--center" [justified]="false">
		<tab>
			<ng-template tabHeading>
				<img class="tab-img tab-img--sm" src="./../../assets/img/tabs/bugger.png" alt="">
				<span class="tab-text">Мини-экскаваторы</span>
			</ng-template>
			<app-bugger></app-bugger>
		</tab>
		<tab>
			<ng-template tabHeading>
				<img class="tab-img tab-img--sm" src="./../../assets/img/tabs/loader.png" alt="">
				<span class="tab-text">Мини-погрузчики</span>
			</ng-template>
			<app-loader></app-loader>
		</tab>
		<tab>
			<ng-template tabHeading>
				<img class="tab-img" src="./../../assets/img/tabs/wheel.png" alt="">
				<span class="tab-text">Колесные экскаваторы</span>
			</ng-template>
			<app-wheel></app-wheel>
		</tab>
	</tabset> -->

</section>