<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/mini-bugger/" routerLinkActive="active">
      <img class="tab-img tab-img--sm" src="./../../assets/img/tabs/bugger.png" alt="Ссылка на мини-экскаваторы">
      <span class="tab-text">Мини-экскаваторы</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/mini-loader/" routerLinkActive="active">
      <img class="tab-img tab-img--sm" src="./../../assets/img/tabs/loader.png" alt="Ссылка на мини-погрузчики">
      <span class="tab-text">Мини-погрузчики</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/hydraulic-drill/" routerLinkActive="active">
      <img class="tab-img" src="./../../assets/img/tabs/hydraulic-drill.png" alt="Ссылка на колесные экскаваторы">
      <span class="tab-text">Буры</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/wheel-excavator/" routerLinkActive="active">
      <img class="tab-img" src="./../../assets/img/tabs/wheel.png" alt="Ссылка на колесные экскаваторы">
      <span class="tab-text">Колесные экскаваторы</span>
    </a>
  </li>
</ul>