<div>
    <div class="panel" *ngFor="let item of buggerArray">
        <div class="panel__content">
            <h3 class="t--h3 t--bold m--b">Мини-экскаватор {{item.model}}</h3>
            <p>
                Гидравлический экскаватор Caterpillar 301.8C оснащается двигателем C9 с технологией ACERT, что обеспечивает более высокую
                топливную экономичность и повышенный ресурс.
            </p>
            <p>
                Обладает превосходной управляемостью и высокой надежностью, впечатляющей грузоподъемностью. Комфортабельная кабина оператора
                с улучшенным обзором повышают производительность и снижают эксплуатационные затраты.
            </p>
        </div>
    </div>

    <div class="panel">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
</div>